<h1>Scoring</h1>
<hr>

<h2>Total per match</h2>
<hr>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Division</th>
      <th scope="col">Round 1</th>
      <th scope="col">Round 2</th>
      <th scope="col">Round 3</th>
      <th scope="col">Round 4</th>
      <th scope="col">Round 5</th>
    </tr>
  </thead>
  <tbody>
        <!-- for every division 1, for every match , display total goals -->

  </tbody>
</table>


<!------------------------------------------------------------------------------------->
<h2>Teams per Round</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Division</th>
      <th scope="col">Round 1</th>
      <th scope="col">Round 2</th>
      <th scope="col">Round 3</th>
      <th scope="col">Round 4</th>
      <th scope="col">Round 5</th>
    </tr>
  </thead>
  <tbody>
        <!-- for every team, per round display total goals -->
  </tbody>
</table>