<h1>Score stats(per match)</h1>
<hr>
<div style="display: flex; gap: 1%;">
  @for (option of options; track option.id){
    <input [(ngModel)]="selectedoption" type="radio" name="division" [value]="option.value">{{option.label}}
  }
</div>
<hr>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Team</th>
      <th scope="col">Matches</th>
      <th scope="col">Total</th>
      <th scope="col">Goals</th>
      <th scope="col">2Pts</th>
      <th scope="col">1Pts</th>
    </tr>
  </thead>
  <tbody>
         @for (team of teams; track team.id){
           @if(team.division == +selectedoption || +selectedoption == 0){
        <tr>
          <td><span style.color="rgb({{team.rgb}})" >&#9679;</span>{{team.hteam}}</td>
          <td>{{team.round}}</td>
          <td>{{team.hteamtotal}}</td>
          <td>{{team.hgls}}</td>
          <td>{{team.h2pts}}</td>
          <td>{{team.h1pts}}</td>
        </tr>  
            }     
          }

  </tbody>
</table>
