<h1>Team Rankings</h1>
<hr>
<h2>Who has been the better team lately?</h2>
<hr>



    <div >
        <button class="btn btn-primary" style="width: 100%;" (click)="clickedTop(teams[topRandomTeam].name)">{{teams[topRandomTeam].name}}</button>
        <hr>
        <button class="btn btn-primary" style="width: 100%;" (click)="clickedBottom(teams[bottomRandomTeam].name)">{{teams[bottomRandomTeam].name}}</button>
    </div>

    @if(voteRemaining == 0){
        <div>
            <p>You ran out of votes REFRESH THE PAGE TOMMY</p>
        </div>
    }
    @else if(state){
        <div>
            <p>You chose the top team</p>
        </div>
    }
    @else(){
        <div>
            <p>You chose the bottom team</p>
        </div>
    }


<p>Votes remaining: {{ voteRemaining }}</p>
