<h2>Routes</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Route</th>
      <th scope="col">Description</th>
      <th scope="col">URL</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>/teams</td>
      <td>GET teams</td>
      <td><a href="http://localhost:3000/teams">localhost://3000/teams</a></td>
      <button type="button" class="btn btn-primary" (click)="getTeamsData()">GET</button>
    </tr>
    <tr>
      <td>/players</td>
      <td>GET players</td>
      <td><a href="http://localhost:3000/players">localhost://3000/players</a></td>
      <button type="button" class="btn btn-primary" (click)="getPlayersData()">GET</button>
    </tr>
    <tr>
      <td>/managers</td>
      <td>GET managers</td>
      <td><a href="http://localhost:3000/managers">localhost://3000/managers</a></td>
      <button type="button" class="btn btn-primary" (click)="getManagersData()">GET</button>
    </tr>
    <tr>
      <td>/fixtures</td>
      <td>GET fixtures</td>
      <td><a href="http://localhost:3000/fixtures">localhost://3000/fixtures</a></td>
      <button type="button" class="btn btn-primary" (click)="getFixturesData()">GET</button>
    </tr>
    <tr>
      <td>/results</td>
      <td>GET results</td>
      <td><a href="http://localhost:3000/fixtures">localhost://3000/results</a></td>
      <button type="button" class="btn btn-primary" (click)="getFixturesData()">GET</button>
    </tr>
  </tbody>
</table>

<h6>JSON Data</h6>
<div id="json-container">
  {{ jsonData | json}}
</div>
